.container {
  outline: 1px solid green;
  color: grey;

  padding: 5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh auto;
  gap: 2vh;
}

.form {
  padding: 2vw;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  /* max-width: 200px; */
  align-items: center;
  margin: 5vh auto;
  gap: 2vh;
}

.button {
  border: 1px solid white;
  color: white;
  background-color: red;
  padding: 10px;
}
