.container {
  outline: 1px solid green;
  color: grey;

  padding: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw auto;
  gap: 2vh;
}

.awardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.award {
  padding: 5px 15px;
}

.form {
  padding: 1vw;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  /* max-width: 200px; */
  align-items: center;
  margin: 5vw auto;
  gap: 2vh;
}

.button {
  border: 1px solid white;
  color: white;
  background-color: red;
  padding: 0px 20px;
}
